*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #9ABD97;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: rgba(0,0,0,0.6);
    height: 4rem;
    line-height: 4rem;
    color: white;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 12vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCC9B6;
    color: black;
}

.reset-btn {
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.new-btn {
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.msg {
    font-size: 4vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}

.hide {
    display: none;
}